.flex{
    display:flex;
}
.justify-content{
   justify-content:center ;
}
.align-items{
    align-items: center;
}
/* .border{
    border:2px solid red;
    margin:3px;
} */
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* Style the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height for horizontal scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark background for the track */
    border-radius: 5px; /* Rounded edges */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #444; /* Dark gray for the thumb */
    border-radius: 5px; /* Rounded edges for the thumb */
}

/* Style the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background: #666; /* Lighter gray when hovered */
}
